@charset "UTF-8";
$font-size: 0.875rem;

html {
  font-size: 100%;
}
body {
  color: #333;
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
  font-size: 1rem;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
}
.article {
  &__readmore {
    font-size: $font-size;
    text-align: center;
    a {
      color: #333;
      padding-bottom: 1px;
      position: relative;
      &:hover {
        opacity: 0;
        transform: translateY(3px);
        &::after {
          background: #333;
          bottom: 0;
          content: "";
          height: 1px;
          left: 0;
          position: absolute;
          transition: all 200ms ease;
          width: 100%;
        }
      }
    }
  }
}

.header {
  background-color: #fff;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 10;
  &__site-title {
    line-height: 10px;
    padding: 20px 10px;
    a {
      display: inline-block;
    }
  }
  &__navi {
    background-color: #333;
    a {
      color: #fff;
    }
    ul {
      align-items: center;
      display: flex;
      justify-content: flex-start;
    }
    li {
      font-size: $font-size;
      padding: 10px 60px 10px 0;
    }
  }
}

/*-------------------------------------------
pickup
-------------------------------------------*/
.pickup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-top: 150px;
  &__article {
    width: 32%;
  }
  &--title {
    font-size: 1rem;
    margin: 10px 0 15px 0;
  }
}

/*-------------------------------------------
container
-------------------------------------------*/
.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  .main {
    width: 65%;
    .article {
      margin-bottom: 80px;
      &__title {
        font-size: 1.5rem;
        margin: 10px 0 15px 0;
      }
    }
    ul {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 10px;
    }
    li {
      font-size: $font-size;
      margin-right: 20px;
    }
    .text {
      padding: 10px 40px 30px 40px;
    }
  }

  /*-------------------------------------------
aside
-------------------------------------------*/
  .sidebar {
    padding: 20px;
    width: 33%;
    &__title {
      font-size: 1.125rem;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .author {
      margin-bottom: 60px;
      text-align: center;
      img {
        border-radius: 50%;
        height: 130px;
        margin-bottom: 30px;
        width: 130px;
      }
      .profile {
        font-size: $font-size;
        text-align: left;
      }
    }
    .ranking {
      margin-bottom: 60px;
      text-align: center;
      article {
        margin-bottom: 30px;
        &__title {
          font-size: $font-size;
          font-weight: normal;
          text-align: left;
        }
      }
    }
  }
  .archive {
    margin-bottom: 60px;
    text-align: center;
    ul {
      border-bottom: solid 1px #777;
    }
    li {
      border-top: solid 1px #777;
      font-size: $font-size;
      padding: 20px;
      text-align: left;
    }
  }
}

/*-------------------------------------------
footer
-------------------------------------------*/
.footer {
  background-color: #f7f7f7;
  font-size: $font-size;
  &__content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  &__item {
    width: 30%;
    &--title {
      font-size: 1.125rem;
      font-weight: bold;
      margin-bottom: 30px;
    }
    &--about-list {
      margin: 20px 0;
      li {
        margin-bottom: 5px;
      }
      .arrow {
        color: #333;
        display: inline-block;
        padding-left: 12px;
        position: relative;
        &::before {
          border-color: transparent transparent transparent #333;
          border-style: solid;
          border-width: 6px 0 6px 8px;
          content: "";
          height: 0;
          left: 0;
          margin-top: -6px;
          position: absolute;
          top: 50%;
          width: 0;
        }
      }
    }

    &--menu-list {
      border-bottom: solid 1px #777;
      li {
        border-top: solid 1px #777;
        padding: 15px;
        text-align: left;
      }
    }
  }
}
.copyright {
  font-size: 0.75rem;
  padding: 10px 0;
  text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
