html {
  font-size: 100%;
}

body {
  color: #333;
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
  font-size: 1rem;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
}

.article__readmore {
  font-size: 0.875rem;
  text-align: center;
}

.article__readmore a {
  color: #333;
  padding-bottom: 1px;
  position: relative;
}

.article__readmore a:hover {
  opacity: 0;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.article__readmore a:hover::after {
  background: #333;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  width: 100%;
}

.header {
  background-color: #fff;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header__site-title {
  line-height: 10px;
  padding: 20px 10px;
}

.header__site-title a {
  display: inline-block;
}

.header__navi {
  background-color: #333;
}

.header__navi a {
  color: #fff;
}

.header__navi ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__navi li {
  font-size: 0.875rem;
  padding: 10px 60px 10px 0;
}

/*-------------------------------------------
pickup
-------------------------------------------*/
.pickup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
  padding-top: 150px;
}

.pickup__article {
  width: 32%;
}

.pickup--title {
  font-size: 1rem;
  margin: 10px 0 15px 0;
}

/*-------------------------------------------
container
-------------------------------------------*/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
  /*-------------------------------------------
aside
-------------------------------------------*/
}

.container .main {
  width: 65%;
}

.container .main .article {
  margin-bottom: 80px;
}

.container .main .article__title {
  font-size: 1.5rem;
  margin: 10px 0 15px 0;
}

.container .main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
}

.container .main li {
  font-size: 0.875rem;
  margin-right: 20px;
}

.container .main .text {
  padding: 10px 40px 30px 40px;
}

.container .sidebar {
  padding: 20px;
  width: 33%;
}

.container .sidebar__title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.container .sidebar .author {
  margin-bottom: 60px;
  text-align: center;
}

.container .sidebar .author img {
  border-radius: 50%;
  height: 130px;
  margin-bottom: 30px;
  width: 130px;
}

.container .sidebar .author .profile {
  font-size: 0.875rem;
  text-align: left;
}

.container .sidebar .ranking {
  margin-bottom: 60px;
  text-align: center;
}

.container .sidebar .ranking article {
  margin-bottom: 30px;
}

.container .sidebar .ranking article__title {
  font-size: 0.875rem;
  font-weight: normal;
  text-align: left;
}

.container .archive {
  margin-bottom: 60px;
  text-align: center;
}

.container .archive ul {
  border-bottom: solid 1px #777;
}

.container .archive li {
  border-top: solid 1px #777;
  font-size: 0.875rem;
  padding: 20px;
  text-align: left;
}

/*-------------------------------------------
footer
-------------------------------------------*/
.footer {
  background-color: #f7f7f7;
  font-size: 0.875rem;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 50px;
}

.footer__item {
  width: 30%;
}

.footer__item--title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.footer__item--about-list {
  margin: 20px 0;
}

.footer__item--about-list li {
  margin-bottom: 5px;
}

.footer__item--about-list .arrow {
  color: #333;
  display: inline-block;
  padding-left: 12px;
  position: relative;
}

.footer__item--about-list .arrow::before {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  content: "";
  height: 0;
  left: 0;
  margin-top: -6px;
  position: absolute;
  top: 50%;
  width: 0;
}

.footer__item--menu-list {
  border-bottom: solid 1px #777;
}

.footer__item--menu-list li {
  border-top: solid 1px #777;
  padding: 15px;
  text-align: left;
}

.copyright {
  font-size: 0.75rem;
  padding: 10px 0;
  text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
/*# sourceMappingURL=style.css.map */