html {
  background: #018ded;
  font-family: 'san-serif';
  font-size: 10px;
  text-align: center;
}

body {
  align-items: center;
  display: flex;
  flex: 1;
  font-size: 2rem;
  margin: 0;
  min-height: 100vh;
}

.clock {
  border: 20px solid white;
  border-radius: 50%;
  box-sizing: border-box;
  height: 30rem;
  margin: 50px auto;
  padding: 2rem;
  position: relative;
  width: 30rem;
}

.clock-face {
  height: 100%;
  position: relative;
  width: 100%;
}

.hand {
  background: black;
  height: 6px;
  position: absolute;
  top: 50%;
  transform: rotate(90deg);
  transform-origin: 100%;
  transition: all 0.01s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  width: 50%;
}
